#display{
    width: 25vw;
    height: 15vh;
    border: 1px solid black;
    margin: auto;
    text-align: right;
    font-size: 3vh;
    font-family: sans-serif;
    background-color: lightgrey;
    border: 2px solid black;
    margin-top: 25vh;
}


#container{
    display: grid;
    margin: auto;
    width: 25vw;
    height: 40vh;
    grid-template-columns: repeat(3,1fr);
    background-color: slategray;
    border: 2px solid black;
}

.number:hover, .operator:hover, .func:hover {
    background-color: indianred
}

@media only screen and (max-width: 600px) {
    #display{
        margin-top: 0px;
        width: 90vw;
        height: 20vh;
    }
    #container{
        width: 90vw;
        height: 80vh;
    }
}








